## This environment file contains purely data for testing and streamlining the development environment
## Rename this document as ".env" for use

APP_HOST=localhost
APP_CLIENT_PORT=3001
APP_SERVER_PORT=8080
JWT_KEY=development_only_change_me
CONTENT_MODERATION_ENABLED=false

# Database service name (docker-composer = db_postgres),
# Or your network loopback as: localhost || 127.0.0.1
DB_HOST=localhost

DB_USER=postgres_user
DB_PASSWORD=postgres_pass
DB_NAME=kutter_db
DB_PORT=5432

DB_MAX_CONNECTIONS=20
DB_MIN_CONNECTIONS=5
DB_ACQUIRE_TIMEOUT=5
DB_MAX_LIFETIME=3600
DB_IDLE_TIMEOUT=1800

## Optional (leave commented out if not used), do not include "jdbc:";

## Overrides the default behavior that creates the URL in env_config.rs
#DATABASE_URL=
##

## Util: psql -h ${DB_USER} -U ${DB_PASSWORD} -d ${DB_NAME} -p ${DB_PORT}

## Util (psql): \! clear