[workspace]
members = ["app", "domain", "infra", "persistence", "security", "shared", "web", ]

resolver = "3"

[profile.dev]
opt-level = 1
incremental = true

[profile.dev.package."*"]
opt-level = 3

[profile.release]
opt-level = 3
